@tailwind base;
@tailwind components;
@tailwind utilities;

.tailwind-logo {
   content: url('https://cdn.jsdelivr.net/gh/tailwindlabs/tailwindcss.com@master/public/img/tailwind-logo.svg');
   display: inline-block;
   width: 1.5em;
   height: 1.5em;
}

@layer utilities {
    .gradient-text-purple {
      background: linear-gradient(90deg, #5700EE , #F1E9FE 90%, #FFFFFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }

    .gradient-text-purple-100{
    background: linear-gradient(90deg, #5700EE 40%, #F1E9FE 60%, #FFFFFF 30%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
    .gradient-bar{
    background: linear-gradient(90deg, #410E99, #6015E2, #420E9B, #410E99);
    }

    .gradient-button{
      background: linear-gradient(
        90deg, 
        #5700EE, 
        #FFFFFF 23%, 
        #A06FF5 44%, 
        #E6D9FC 74%, 
        #A271F6 94%
    );
    }
  }

  